# Logistic Regression Accuracy Exercise

## Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

## Importing Data

In [3]:
raw_data = pd.read_csv("../Datasets/Bank_data.csv")
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [4]:
data = raw_data.copy()

data['y'] = data['y'].map({'yes':1, 'no':0})
data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration  y
0           0          1.334     0.0    1.0  0.0       0.0     117.0  0
1           1          0.767     0.0    0.0  2.0       1.0     274.0  1
2           2          4.858     0.0    1.0  0.0       0.0     167.0  0
3           3          4.120     0.0    0.0  0.0       0.0     686.0  1
4           4          4.856     0.0    1.0  0.0       0.0     157.0  0

## Declaring Variables

In [7]:
y = data['y']
x = data.drop('y', axis = 1)

In [8]:
x = sm.add_constant(x)

reg_log = sm.Logit(y,x)

results_log = reg_log.fit()

results_log.summary()

Optimization terminated successfully.
         Current function value: 0.335737
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      510
Method:                           MLE   Df Model:                            7
Date:                Fri, 10 Jan 2025   Pseudo R-squ.:                  0.5156
Time:                        21:51:27   Log-Likelihood:                -173.91
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 5.602e-76
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0347      0.408     -0.085      0.932      -0.834       0.764
Unnamed: 0       -0.0004      0.001     -0.461      0.645      -0.002       0.001
interest_rate    -0.7790      0.092     -8.463      0.000      -0.959      -0.599
credit            2.3701      1.091      2.172      0.030       0.231       4.509
march            -1.8120      0.331     -5.468      0.000      -2.461      -1.163
may               0.1918      0.229      0.836      0.403      -0.258       0.641
previous          1.2795      0.585      2.188      0.029       0.133       2.426
duration          0.0070      0.001      9.396      0.000       0.006       0.008
=================================================================================
"""

### Confusion Matrix

In [9]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ["Predicted 0", "Predicted 1"]
cm_df = cm_df.rename(index = {0: "Actual 0", 1: "Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0        222.0         37.0
Actual 1         31.0        228.0

#### Accuracy

In [10]:
cm = np.array(cm_df)
accuracy = (cm[0,0] + cm[1,1])/cm.sum()
accuracy

0.8687258687258688